/* body {
    font-family: 'Roboto Condensed', sans-serif;
} */

th,
.grand-total {
    color: #40e1b0;
}

.account-links {
    line-height: 2rem;
    padding: 5px;
    cursor: pointer;
}

.account-links:hover {
    background-color: gray;
}

.fit-vertically {
    height: 83vh;
}

input[type="text"],
input[type="number"],
input[type="password"],
.form-select {
    width: 280px;
    background-color: #fbfbfb;
}

input[type="date"],
input[type="time"] {
    width: 140px;
    background-color: #fbfbfb;
}

label {
    width: 280px;
}

.btn {
    width: 280px;
}

.btn.modify-button {
    height: 36px;
    width: 38px;
    font-size: 0.9rem;
    margin: 3px;
    text-align: center;
    border-radius: 50%;
}

/* .btn.modify-button.edit {
    background-color: rgb(255, 225, 0);
} */

/* .btn.modify-button.delete {
    background-color: red;
    color: whitesmoke;
} */

#table-to-print>tbody>tr:nth-child(odd)>td:nth-child(n) {
    background-color: #2c3034;
}

.hr-title::before {
    margin-right: 1rem;
}

.hr-title::after {
    margin-left: 1rem;
}

.hr-title.new-transaction::before,
.hr-title.new-transaction::after {
    content: '';
    display: inline-block;
    width: calc((75% - 186.53px)/2);
    height: 1px;
    background: #6C757D;
    vertical-align: middle;
}


.hr-title.recent-entries::before,
.hr-title.recent-entries::after {
    content: '';
    display: inline-block;
    width: calc((75% - 177.45px)/2);
    height: 1px;
    background: #6C757D;
    vertical-align: middle;
}

.hr-title.stats::before,
.hr-title.stats::after {
    content: '';
    display: inline-block;
    width: calc((75% - 69.3px)/2);
    height: 1px;
    background: #6C757D;
    vertical-align: middle;
}

.hr-title.chart::before,
.hr-title.chart::after {
    content: '';
    display: inline-block;
    width: calc((75% - 72.2px)/2);
    height: 1px;
    background: #6C757D;
    vertical-align: middle;
}

.hr-title.history::before,
.hr-title.history::after {
    content: '';
    display: inline-block;
    width: calc((75% - 160.8px)/2);
    height: 1px;
    background: #6C757D;
    vertical-align: middle;
}

/* input:focus:invalid {
    border: 2px solid red;
} */

@media only screen and (max-width: 768px) {

    input[type="text"],
    input[type="number"],
    input[type="password"] {
        width: 92% !important;
        background-color: #fbfbfb;
    }

    input[type="date"],
    input[type="time"] {
        width: 46% !important;
        background-color: #fbfbfb;
    }

    label {
        width: 92% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-92 {
        width: 92%;
    }

    .w-sm-50 {
        width: 50%;
    }

    .table {
        font-size: 14px;
    }

    .hr-title.new-transaction::before,
    .hr-title.new-transaction::after {
    width: calc((92% - 186.53px)/2);
    }


    .hr-title.recent-entries::before,
    .hr-title.recent-entries::after {
        width: calc((92% - 177.45px)/2);
    }

    .hr-title.stats::before,
    .hr-title.stats::after {
        width: calc((92% - 69.3px)/2);
    }

    .hr-title.chart::before,
    .hr-title.chart::after {
        width: calc((92% - 72.2px)/2);
    }

    .hr-title.history::before,
    .hr-title.history::after {
        width: calc((92% - 160.8px)/2);
    }

    .table {
        font-family: 'Roboto Condensed', sans-serif;
    }

}


@media print {

    /* show only table while printing */
    body * {
        visibility: hidden;
    }

    table * {
        visibility: visible;
        font-size: 1.1rem;
        width: 90vw;
    }

    table {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    #table-to-print>tbody>tr:nth-child(odd)>td:nth-child(n) {
        border: 1px solid #2c3034 !important;
    }

    #table-to-print>caption {
        font-size: 1.5rem;
        color: #c70707;
        margin-bottom: 2rem;
        text-align: center;
    }

    #table-to-print>thead>tr>th:nth-child(n) {
        color: navy;
        font-size: 1.2rem;
    }

    #table-to-print>tbody>tr>td:nth-child(n) {
        color: black;
    }

    .exclude-print {
        display: none;
    }

}