body {
    font-family: 'Roboto Condensed', sans-serif;
}

th {
    /* color: #40eaf0; */
    color: #40e1b0;
}

.account-links {
    line-height: 2rem;
    padding: 5px;
    cursor: pointer;
}

.account-links:hover {
    background-color: gray;
}

.fit-vertically {
    height: 83vh;
}

input[type="text"],
input[type="number"],
input[type="password"],
.form-select {
    width: 280px;
    background-color: #fbfbfb;
}

input[type="date"],
input[type="time"] {
    width: 140px;
    background-color: #fbfbfb;
}

.btn {
    width: 280px;
}

.btn.modify-button {
    height: 42.8px;
    width: 42.8px;
    font-size: 1.3rem;
    margin: 3px;
    /* color: #40e1b0 !important; */
    /* border-color: #40e1b0; */
}

@media only screen and (max-width: 768px) {

    input[type="text"],
    input[type="number"],
    input[type="password"] {
        width: 80% !important;
        background-color: #fbfbfb;
    }

    input[type="date"],
    input[type="time"] {
        width: 40% !important;
        background-color: #fbfbfb;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-80 {
        width: 80%;
    }

    .w-sm-50 {
        width: 50%;
    }

    .table {
        font-size: 14px;
    }

}

.modal {
    width: 100vw !important;
    height: 100vh !important;
}


@media print {
    body * {
        visibility: hidden;
    }

    table * {
        visibility: visible;
        background-color: white !important;
        font-weight: bold;
    }

    table {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .exclude-print {
        display: none;
    }

}