{% extends "layout.html" %}

{% block title %}
Account Settings
{% endblock %}

{% block main %}
<div class="align-items-center d-flex justify-content-center my-5">
        <ul>
                <li class="my-4"><a class="account-links text-light" style="text-decoration: none;"
                                href="/change-username">Change
                                Username</a></li>
                <li class="my-4"><a class="account-links text-light" style="text-decoration: none;"
                                href="/change-password">Change
                                Password</a></li>
                <li class="my-4"><a class="account-links text-light" style="text-decoration: none;"
                                href="/change-units">Change
                                Units</a></li>
        </ul>
</div>
<div>
        <img src='data:image/png;base64,{{data}}' />
</div>
{% endblock %}