{% extends "layout.html" %}

{% block title %}
Change Units
{% endblock %}

{% block main %}

<form action="/change-units" method="post">
    <div class="mt-2 mb-3">
        <label class="form-label text-light text-start" for="currency">Currency</label>
        <select class="form-select mx-auto w-sm-92" name="currency">
            <!-- <option disabled selected>Select Currency - [{{ user_currency}}]</option> -->
            <optgroup dir="ltr" label="Current setting">
                <option selected value="{{ user_currency }}" id="currency">{{ user_currency}}</option>
            </optgroup>
            <optgroup dir="ltr" label="Other options">
                {% for currency in currencies %}
                <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </div>
    <div class="my-3">
        <label class="form-label text-light text-start" for="distance">Distance</label>
        <select class="form-select mx-auto w-sm-92" name="distance" id="distance">
            <!-- <option disabled selected>Select Distance Unit - [{{ user_distance_unit }}]</option> -->
            <optgroup dir="ltr" label="Current setting">
                <option selected value="{{ user_distance_unit }}">{{ user_distance_unit }}</option>
            </optgroup>
            <optgroup dir="ltr" label="Other options">
                {% if user_distance_unit == 'km' %}
                <option value="mi">mi</option>
                {% else %}
                <option value="km">km</option>
                {% endif %}
            </optgroup>
        </select>
    </div>
    <div class="my-3">
        <label class="form-label text-light text-start" for="volume">Volume</label>
        <select class="form-select mx-auto w-sm-92" name="volume" id="volume">
            <!-- <option disabled selected>Select Volume Unit - [{{ user_volume_unit }}]</option> -->
            <optgroup dir="ltr" label="Current setting">
                <option selected value="{{ user_volume_unit }}">{{ user_volume_unit }}</option>
            </optgroup>
            <optgroup dir="ltr" label="Other options">
                {% if user_volume_unit == 'lt' %}
                <option value="gal">gal</option>
                {% else %}
                <option value="lt">lt</option>
                {% endif %}
            </optgroup>
        </select>
    </div>
    <button class="btn btn-outline-warning mt-3 mb-5 w-sm-92" type="submit">Save Changes</button>
    <p class="text-info mx-auto text-start" style="max-width: 280px"><small>*This change will not affect any values, it
            will
            just change
            currency symbols across
            your tables.</small>
    </p>
</form>

{% endblock %}