{% extends "layout.html" %}

{% block title %}
Edit Vehicle
{% endblock %}

{% block main %}
<form action="/edit-vehicle/{{id}}" autocomplete="off" method="POST" class="mt-2">
    <div class="my-3">
        <input class="form-control mx-auto mt-5 mb-3 w-sm-80" type="text" name="vehicle_name"
            placeholder="{{ vehicle[0]['name'] }}" required>
    </div>
    <input class="form-control mx-auto my-3 w-sm-80" type="text" name="plate"
        placeholder="{{ vehicle[0]['license_plate'] }}">
    <button class="btn btn-outline-warning mt-4 mb-5 w-sm-80">Save Changes</button>
</form>

{% endblock %}