{% extends "layout.html" %}

{% block title %}
Edit Refuel
{% endblock %}

{% block main %}

<form action="/edit-refuel" autocomplete="off" method="post">
    <div class="mt-5 mb-3">
        <select class="form-select mx-auto w-sm-80" name="refuel">
            <option disabled selected>Select Transaction</option>
            {% for refuel in refuels %}
            <option value="{{ refuel["id"] }}">{{ refuel["date"] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-outline-warning mt-3 mb-5 px-4 w-sm-80">Edit</button>
</form>

{% endblock %}