{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="../static/dateLocalizer.js"></script>
{% endblock %}

{% block main %}

{% if ref_len > 0 %}

<span class="d-block text-secondary text-center mb-4 hr-title chart">Chart</span>

<div class="container-fluid" id="history-chart-div">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 w-md-50">
            <div class="mx-auto">
                <div class="card border-secondary">
                    <div class="card-header bg-dark text-center">
                        <p style="color: #40e1b0">MONTHLY TOTAL FUEL EXPENSES - LAST 12 MONTHS</p>
                    </div>
                    <div class="bg-dark card-body">
                        <canvas class="canvas-history" style="background-color: #252932;" id="myChart"></canvas>
                    </div>
                    <div class="card-footer bg-dark text-info text-end">
                        <!-- Expense per month ({{ symbol }}) -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    let chart_dates_js = {{ chart_dates | safe }};
    let chart_prices_js = {{ chart_prices | safe }};
    let currency_symbol = "{{ symbol | safe}}";
    // let switch_axes_on_four = `${chart_prices_js.length > 3 ? 'y' : 'x'}`
    let chartCanvas = document.getElementById("myChart")
    window.addEventListener("DOMContentLoaded", () => {
        if (window.innerWidth < 768) {
            chartCanvas.setAttribute("height", 300);
        }
    })


    const rotateOnMobile = () => {
        if (window.innerWidth > 768) {
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: chart_dates_js,
                    datasets: [{
                        axis: 'x',
                        label: 'Fuel Expenses',
                        data: chart_prices_js,
                        backgroundColor: [
                            'rgba(23, 140, 120, .7)',
                        ],
                        borderColor: [
                            'rgba(64, 225, 176, 1)',
                        ],
                        borderWidth: 1,
                        borderRadius: 3,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                align: 'center',
                                color: '#ddd',
                                padding: 6,
                                callback: function (value, index, ticks) {
                                    if (currency_symbol === '€' || currency_symbol == '₺') {
                                        return `${value} ${currency_symbol}`;
                                    } else {
                                        return `${currency_symbol} ${value}`;
                                    }
                                },
                            },
                            grid: {
                                color: '#333',
                                tickLength: 5,
                            },
                        },
                        x: {
                            //beginAtZero: true,
                            ticks: {
                                align: 'center',
                                color: '#ddd',
                                padding: 6,
                            },
                            grid: {
                                color: '#333',
                                tickLength: 5,
                            },
                        },
                    },
                    indexAxis: 'x',
                    color: '#aaa',
                    barPercentage: .7,
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },

                },
            });
        } else {
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: chart_dates_js,
                    datasets: [{
                        axis: 'y',
                        label: 'Fuel Expenses',
                        data: chart_prices_js,
                        backgroundColor: [
                            'rgba(23, 140, 120, .7)',
                        ],
                        borderColor: [
                            'rgba(64, 225, 176, 1)',
                        ],
                        borderWidth: 1,
                        borderRadius: 3,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                align: 'center',
                                color: '#ddd',
                                padding: 6,
                            },
                            grid: {
                                color: '#383838',
                                tickLength: 5,
                            },
                        },
                        x: {
                            //beginAtZero: true,
                            ticks: {
                                align: 'center',
                                color: '#ddd',
                                padding: 6,
                                callback: function (value, index, ticks) {
                                    if (currency_symbol === '€' || currency_symbol == '₺') {
                                        return `${value} ${currency_symbol}`;
                                    } else {
                                        return `${currency_symbol} ${value}`;
                                    }
                                },
                            },
                            grid: {
                                color: '#383838',
                                tickLength: 5,
                            },
                        },
                    },
                    indexAxis: 'y',
                    color: '#aaa',
                    barPercentage: .8,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    }
                },
            });
        }
    }

    window.addEventListener("DOMContentLoaded", rotateOnMobile)

    // ['DOMContentLoaded', 'resize'].forEach(evnt => window.addEventListener(evnt, rotateOnMobile, false))


</script>


<!-- TODO: TABLE FOR EACH VEHICLE -->

<span class="d-block text-secondary text-center mt-5 mb-4 hr-title history">History of Refuels</span>

{% for vehicle in vehicles_refuelled %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-9 px-0">
            <table
                class="align-middle caption-top mb-5 mx-auto table table-dark table-bordered auto-numbered table-to-print"
                style="visibility: hidden;">
                <caption class="fs-5 text-light">{{ vehicle.name }}</caption>
                <thead class="align-middle">
                    <tr>
                        <th>#</th>
                        <th>Date | Time</th>
                        <th>Odometer Reading</th>
                        <th>Fuel Volume Added</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th class="exclude-print">Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for refuel in refuels %}
                    {% if refuel['vehicle_id'] == vehicle['vehicle_id'] %}
                    <tr>
                        <td></td>
                        <td class="dateNtime">{{ refuel["date"] }}</td>
                        <td>{{ refuel["distance"] | dist(distance_unit) }}</td>
                        <td>{{ refuel["volume"] | vol(volume_unit) }}</td>
                        <td>{{ refuel["price"] | cur(symbol) }}</td>
                        <td>{{ refuel["total_price"] | cur(symbol) }}</td>
                        <td class="exclude-print">
                            <a class="btn modify-button edit" href="{{ url_for('edit', id=refuel['id']) }}"
                                name="{{ refuel['id'] }}">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn modify-button delete" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ refuel['id'] }}">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ refuel['id']}}" tabindex="-1"
                                aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-dark" id="deleteModalLabel">
                                                Confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-dark fs-6">Are you sure?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary w-auto px-4"
                                                data-bs-dismiss="modal">No</button>
                                            <form action="{{ url_for('deleteRefuel', id=refuel['id']) }}" method="post">
                                                <input class="btn btn-danger w-auto px-4" type="submit" value="Yes">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <!-- <tfoot></tfoot> -->
            </table>
        </div>
    </div>
</div>

{% endfor %}





<!-- TODO: END ------- ------------- -->

<button onclick="window.print()" class="btn btn-outline-info px-4 my-4 mx-3 w-sm-92" id="savepdf" type="button">Save
    PDF</button>

{% else %}

<h3 class="text-center text-light mt-5 mb-4">No entries to show.</h3>

{% endif %}

{% endblock %}