{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
{% endblock %} {% block main %} {% if vehicles %}
<section>
  <form action="/" autocomplete="off" method="post">
    <div class="my-4">
      <select class="form-select mx-auto w-sm-80 mb-4" name="vehicle">
        <option selected value="{{ vehicles[0]['name'] }}">
          {{ vehicles[0]['name'] }}
        </option>
        {% for vehicle in vehicles[1:] %}
        <option value="{{ vehicle['name'] }}">{{ vehicle['name'] }}</option>
        {% endfor %}
      </select>
      <input class="form-control my-2 mx-auto w-sm-40" style="display: inline-block;" type="date" min="2016-01-01"
        max="2046-01-01" name="date" required step="any" id="index-datepicker" />
      <input class="form-control my-2 mx-auto w-sm-40" style="display: inline-block;" type="time" name="time" required
        step="any" id="index-timepicker" />

      <input class="form-control my-2 mx-auto w-sm-80" type="text" name="datetime" id="index-date"
        style="display: none;" />

      <input class="form-control my-2 mx-auto w-sm-80" type="number" min="0" name="distance"
        placeholder="Current odometer reading" required />
      <input class="form-control my-2 mx-auto w-sm-80" type="number" min="0" step="any" name="volume"
        placeholder="Fuel volume added" required />
      <input class="form-control my-2 mx-auto w-sm-80" type="number" min="0" step="any" name="price"
        placeholder="Unit price" required />
    </div>

    <button class="btn btn-success w-sm-80 mx-auto mt-3 px-4">
      Add Refuel Transaction
    </button>
  </form>

  <hr class="text-light mx-auto w-75 w-sm-80 mt-5" />
  <!-- <hr class="mx-auto w-25"> -->
  {% if ref_len > 0 %}
  <div class="table-responsive-sm">
    <table
      class="align-middle caption-top my-4 mx-auto table table-bordered table-dark table-sm table-striped w-75 w-sm-100">
      <caption>
        Most recent entries
      </caption>
      <thead class="align-middle">
        <tr>
          <th>#</th>
          {% if veh_len > 1 %}
          <th>Vehicle</th>
          {% endif %}
          <th>Date & Time</th>
          <th>Odometer Reading</th>
          <th>Fuel Volume Added</th>
          <th>Unit Price</th>
          <th>Total Price</th>
          <th class="exclude-print">Modify</th>
        </tr>
      </thead>
      <tbody>
        {% for refuel in refuels %}
        <tr>
          <td>{{ loop.index }}</td>
          {% if veh_len > 1 %}
          <td>{{ refuel["vehicle_name"] }}</td>
          {% endif %}
          <td>{{ refuel["date"] | dt}}</td>
          <td>{{ refuel["distance"] | dist(distance_unit) }}</td>
          <td>{{ refuel["volume"] | vol(volume_unit) }}</td>
          <td>{{ refuel["price"] | cur(symbol) }}</td>
          <td>{{ refuel["total_price"] | cur(symbol) }}</td>
          <td class="exclude-print">
            <a class="btn btn-outline-warning modify-button" href="{{ url_for('edit', id=refuel['id']) }}"
              name="{{ refuel['id'] }}">
              ✎
            </a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger modify-button" data-bs-toggle="modal"
              data-bs-target="#deleteModal{{ refuel['id'] }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 20">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{ refuel['id']}}" tabindex="-1" aria-labelledby="deleteModalLabel"
              aria-hidden="true">
              <!-- model-sm removed from the class below -->
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="deleteModalLabel">
                      Confirmation
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- fs-6 removed from p's class -->
                    <p class="text-dark">Are you sure?</p>
                  </div>
                  <div class="modal-footer">
                    <!-- btn-sm removed from the class below -->
                    <button type="button" class="btn btn-secondary w-auto px-4" data-bs-dismiss="modal">
                      No
                    </button>
                    <form action="{{ url_for('deleteRefuel', id=refuel['id']) }}" method="post">
                      <input class="btn btn-danger w-auto px-4" type="submit" value="Yes" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- <a href="/delete-refuel" class="btn btn-outline-danger px-3 mt-3 w-sm-80">Delete Refuel</a> -->
</section>

<hr class="text-light mx-auto w-75 w-sm-80 mt-5" />

{% if show %}
<table
  class="align-middle caption-top my-2 mx-auto table table-bordered table-dark table-sm table-striped w-75 w-sm-100">
  <caption>
    Stats
  </caption>
  <thead class="align-middle">
    <tr>
      <!-- {% if show %} -->
      <th>Vehicle</th>
      <th>Total Distance Traveled</th>
      <th>Total Fuel Volume Added</th>
      <th>Total Expenses</th>
      <!-- {% endif %} -->
    </tr>
  </thead>
  <tbody>
    {% for stat in stats %}
    <tr>
      <!-- {% if stat["distance"] > 0 %} -->
      <td>{{ stat["vehicle_name"] }}</td>
      <td>{{ stat["distance"] | dist(distance_unit) }}</td>
      <td>{{ stat["liters"] | vol(volume_unit) }}</td>
      <td>{{ stat["expenses"] | cur(symbol) }}</td>
      <!-- {% endif %} -->
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr class="text-light mx-auto w-75 w-sm-80 my-5" />
{% endif %}

<!-- <div class="my-4 mx-auto bg-light w-50">
    <canvas id="myChart" height="100"></canvas>
</div> -->

<div class="container mt-5">
  <div class="row">
    <div class="mx-auto w-75 w-sm-100">
      <div class="card">
        <div class="card-header bg-dark text-center">
          <p style="color: #40e1b0">
            MONTHLY TOTAL FUEL EXPENSES - LAST 3 MONTHS
          </p>
        </div>
        <div class="bg-secondary card-body">
          <canvas height="160" style="background-color: #f0f0f0" id="myChart"></canvas>
        </div>
        <div class="card-footer bg-dark text-info text-end">
          Total Expense, {{ symbol }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels | safe }},
  datasets: [{
    axis: 'y',
    label: 'Monthly Total Fuel Expenses',
    // data: [12, 19, 3, 5, 2, 3],
    data: {{ values | safe }},
    backgroundColor: [
    'rgba(255, 99, 132, 0.4)',
    'rgba(54, 162, 235, 0.4)',
    'rgba(255, 206, 86, 0.4)',
    'rgba(75, 192, 192, 0.4)',
    'rgba(153, 102, 255, 0.4)',
    'rgba(255, 159, 64, 0.4)',
    'rgba(255, 99, 132, 0.4)',
    'rgba(54, 162, 235, 0.4)',
    'rgba(255, 206, 86, 0.4)',
    'rgba(75, 192, 192, 0.4)',
    'rgba(153, 102, 255, 0.4)',
    'rgba(255, 159, 64, 0.4)'
  ],
    borderColor: [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)',
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
    borderWidth: 1
          }]
      },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    },
    indexAxis: 'y',
  }
  });
</script>

{% endif %} {% else %}
<h3 class="text-center text-light my-5">Welcome, {{ username }}!</h3>
<h5 class="text-center text-light my-3">Please add a vehicle:</h5>
<a class="btn btn-primary" href="/vehicles">Add Vehicle</a>
{% endif %} {% endblock %}