{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<form action="/login" autocomplete="off" method="post" class="mt-3">

    <div class="mb-4">
        <input class="form-control mx-auto w-sm-92" name="username" type="text" placeholder="Username">
    </div>
    <div class="mb-4">
        <input class="form-control mx-auto w-sm-92" name="password" type="password" placeholder="Password" minlength="8"
            maxlength="20">
    </div>
    <div class="d-grid gap-2 d-md-block mx-auto">
        <button class="btn btn-success mx-auto w-sm-92" type="submit">Log In</button>
    </div>
    <div class="d-grid gap-2 d-md-block mx-auto">
        <p class="text-light mt-4">Don't have an account? <a style="color: #40e1b0;" href="/signup">Sign
                up now
                ➚</a>
        </p>
    </div>

</form>
{% endblock %}