{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}

<form action="/signup" autocomplete="off" method="post" class="mt-3">

    <div class="mb-4">
        <input class="form-control mx-auto w-sm-92" name="username" type="text" placeholder="Username">
    </div>
    <div class="mb-4">
        <input class="form-control mx-auto w-sm-92" name="password" type="password" placeholder="Password" minlength="8"
            maxlength="16">
    </div>
    <div class="mb-4">
        <input class="form-control mx-auto w-sm-92" name="confirmation" type="password" placeholder="Password (again)">
    </div>
    <div class="d-grid gap-2 d-md-block mx-auto w-auto">
        <button class="btn btn-success mx-auto w-sm-92" type="submit">Sign Up</button>
    </div>

</form>
{% endblock %}