{% extends "layout.html" %}

{% block title %}
Vehicles
{% endblock %}

{% block main %}
<form action="/vehicles" autocomplete="off" method="post" class="mt-2">
    <div class="my-3">
        <input class="form-control mx-auto mt-5 mb-3 w-sm-80" type="text" name="vehicle_name" placeholder="Vehicle name"
            required>
    </div>
    <input class="form-control mx-auto my-3 w-sm-80" type="text" name="plate" placeholder="License plate (optional)">
    <button class="btn btn-success mt-4 mb-5 w-sm-80">Add Vehicle</button>
</form>

{% if veh_len > 0 %}
<table class="align-middle caption-top mx-auto table table-bordered table-dark table-striped w-75 w-sm-100">
    <caption>List of Vehicles</caption>
    <thead class="align-middle">
        <tr>
            <th>#</th>
            <th>Vehicle Name</th>
            <th>License Plate</th>
            <th>Total Consumption Volume</th>
            <th>Total Expenses</th>
            <th class="exclude-print">Modify</th>
        </tr>
    </thead>
    <tbody>

        {% for vehicle in vehicles %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ vehicle["name"] }}</td>
            <td>{{ vehicle["license_plate"] }}</td>
            <td> {{ vehicle["liters"] | vol(volume_unit) }} </td>
            <td> {{ vehicle["expenses"] | cur(symbol) }} </td>
            <td class="exclude-print">
                <a class="btn btn-outline-warning modify-button" href="{{ url_for('editVehicle', id=vehicle['id']) }}"
                    name="{{ vehicle['name'] }}"> ✎ </a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger modify-button" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{ vehicle['id'] }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 20">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ vehicle['id']}}" tabindex="-1"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-dark" id="deleteModalLabel">
                                    Confirmation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-dark fs-6">Are you sure?</p>
                                <p class="text-danger"><small>*Deleting a vehicle also deletes its refuel
                                        transactions!</small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm w-auto px-4"
                                    data-bs-dismiss="modal">No</button>
                                <form action="{{ url_for('deleteVehicle', id=vehicle['id']) }}" method="post">
                                    <input class="btn btn-danger btn-sm w-auto px-4" type="submit" value="Yes">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}

    </tbody>


</table>

<!-- <a href="/delete-vehicle" class="btn btn-outline-danger my-4 w-sm-80">Delete Vehicle</a> -->
<a href="/" class="btn btn-success my-4 w-sm-80">Add Refuel Transaction</a>


{% endif %}



{% endblock %}